body {
  margin: 0;
  font-family: Arial;
  background: #580947;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  color: white;
}

.container {
  background: rgba(86, 10, 67, 0.1);
  padding: 30px;
  border-radius: 15px;
  backdrop-filter: blur(10px);
  width: 300px;
}

input {
  width: 100%;
  padding: 10px;
  margin: 8px 0;
  border-radius: 10px;
  border: none;
}

button {
  width: 100%;
  padding: 10px;
  margin-top: 10px;
  border: none;
  border-radius: 10px;
  background: #efb4e5;
  color: white;
  cursor: pointer;
}

li {
  margin: 10px 0;
}